.container_1 {
  position: relative;
  margin-left:4%;
}
.container_2 {
  position: relative;
  margin-left:4%;
}
.container_3 {
  position: relative;
  margin-left:4%;
}
.container_4 {
  position: relative;
  margin-left:4%;
}
#i_1{
	background:#ff9647;
}
#i_2{
	background:#baf8ff;
}
#i_3{
	background:#ff84bb;
}
#i_4{
	background:#5eff9e;
}
.image {
  display: block;
  width: 20%;
  height: 50%;
  box-sizing:border-box;
  border-radius:50%;
  border: 7px solid #bababa;
}
.gl_icn{
   font-size:128px;
   padding:48px 10px 48px 10px;
   margin-left:17%;
   color:black;
}
.gl_icn2{
   margin-left:22%;
}
.gl_icn3{
   margin-left:32%;
}
.overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  left:100%;
  border-radius:110%;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container_1:hover .overlay {
  width: 100%;
  left: 0;
}
.container_2:hover .overlay {
  width: 100%;
  left: 0;
}
.container_3:hover .overlay {
  width: 100%;
  left: 0;
}
.container_4:hover .overlay {
  width: 100%;
  left: 0;
}
.text {
  background:cornsilk;
  white-space: nowrap; 
  color: black;
  font-size: 25px;
  font-weight:bold;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
#txt_1{
	padding: 10px 60px 10px 60px;
}
#txt_2{
	padding: 10px 95px 10px 95px;
}
#txt_3{
	padding: 10px 95px 10px 95px;
}
#txt_4{
	padding: 10px 95px 10px 95px;
}
.col_algn{
	display:flex !important;
	margin-top: 2%;
}
#ovrly1 {
  position: inherit;
  bottom: 0;
  right: 0;
  left:100%;
  border-radius:110%;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  display:none;
}

.container_1:hover #ovrly1 {
  width: 100%;
  left: 0;
}
.container_2:hover #ovrly1 {
  width: 100%;
  left: 0;
}
.container_3:hover #ovrly1 {
  width: 100%;
  left: 0;
}
.container_4:hover #ovrly1 {
  width: 100%;
  left: 0;
}
#ovrly2 {
  position: inherit;
  bottom: 0;
  right: 0;
  left:100%;
  border-radius:110%;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  display:none;
}

.container_1:hover #ovrly2 {
  width: 100%;
  left: 0;
}
.container_2:hover #ovrly2 {
  width: 100%;
  left: 0;
}
.container_3:hover #ovrly2 {
  width: 100%;
  left: 0;
}
.container_4:hover #ovrly2 {
  width: 100%;
  left: 0;
}
#ovrly3 {
  position: inherit;
  bottom: 0;
  right: 0;
  left:100%;
  border-radius:110%;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  display:none;
}

.container_1:hover #ovrly3 {
  width: 100%;
  left: 0;
}
.container_2:hover #ovrly3 {
  width: 100%;
  left: 0;
}
.container_3:hover #ovrly3 {
  width: 100%;
  left: 0;
}
.container_4:hover #ovrly3 {
  width: 100%;
  left: 0;
}
#ovrly4 {
  position: inherit;
  bottom: 0;
  right: 0;
  left:100%;
  border-radius:110%;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  display:none;
}

.container_1:hover #ovrly4 {
  width: 100%;
  left: 0;
}
.container_2:hover #ovrly4 {
  width: 100%;
  left: 0;
}
.container_3:hover #ovrly4 {
  width: 100%;
  left: 0;
}
.container_4:hover #ovrly4 {
  width: 100%;
  left: 0;
}
.o_text {
  background:cornsilk;
  white-space: nowrap; 
  color: black;
  font-size: 25px;
  font-weight:bold;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
#o_txt_1{
	padding: 10px 45px 10px 45px;
}
#o_txt_2{
	padding: 10px 87px 10px 87px;
}
#o_txt_3{
	padding: 10px 83px 10px 83px;
}
#o_txt_4{
	padding: 10px 87px 10px 87px;
}
