.container_1 {
  position: relative;
  margin-left:12%;
}
.container_2 {
  position: relative;
  margin-left:4%;
}
.container_3 {
  position: relative;
  margin-left:4%;
}
.container_4 {
  position: relative;
  margin-left:4%;
}
#i_1{
	background: linear-gradient(to top,rgb(51, 161, 196),rgb(184, 234, 249));
}
#i_2{
	background:linear-gradient(to top,rgb(224, 2, 39),rgb(255, 102, 127));
}
#i_3{
	background:linear-gradient(to top,rgb(134, 206, 35),rgb(176, 255, 127));
}
#i_4{
	background:linear-gradient(to top,rgb(241, 238, 3),rgb(255, 253, 119));
}
.image {
  display: block;
  width: 16%;
  height: 50%;
  box-sizing:border-box;
  border-radius:50%;
  border: 7px solid #bababa;
  margin-top:-1%;
}
.gl_icn{
   font-size:100px;
   padding:30px 5px 30px 5px;
   margin-left:20%;
   color:white;
}
.gl_icn2{
   margin-left:25%;
}
.gl_icn3{
   margin-left:35%;
}
.overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  left:100%;
  border-radius:110%;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container_1:hover .overlay {
  width: 100%;
  left: 0;
}
.container_2:hover .overlay {
  width: 100%;
  left: 0;
}
.container_3:hover .overlay {
  width: 100%;
  left: 0;
}
.container_4:hover .overlay {
  width: 100%;
  left: 0;
}
.text {
  background:cornsilk;
  white-space: nowrap; 
  color: black;
  font-size: 21px;
  font-weight:bold;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
#txt_1{
	padding: 5px 60px 5px 60px;
}
#txt_2{
	padding: 5px 95px 5px 95px;
}
#txt_3{
	padding: 5px 95px 5px 95px;
}
#txt_4{
	padding: 5px 95px 5px 95px;
}
.col_algn{
	display:flex !important;
	margin-top: 2%;
}
#ovrly1 {
  position: inherit;
  bottom: 0;
  right: 0;
  left:100%;
  border-radius:110%;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  display:none;
}

.container_1:hover #ovrly1 {
  width: 100%;
  left: 0;
}
.container_2:hover #ovrly1 {
  width: 100%;
  left: 0;
}
.container_3:hover #ovrly1 {
  width: 100%;
  left: 0;
}
.container_4:hover #ovrly1 {
  width: 100%;
  left: 0;
}
#ovrly2 {
  position: inherit;
  bottom: 0;
  right: 0;
  left:100%;
  border-radius:110%;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  display:none;
}

.container_1:hover #ovrly2 {
  width: 100%;
  left: 0;
}
.container_2:hover #ovrly2 {
  width: 100%;
  left: 0;
}
.container_3:hover #ovrly2 {
  width: 100%;
  left: 0;
}
.container_4:hover #ovrly2 {
  width: 100%;
  left: 0;
}
#ovrly3 {
  position: inherit;
  bottom: 0;
  right: 0;
  left:100%;
  border-radius:110%;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  display:none;
}

.container_1:hover #ovrly3 {
  width: 100%;
  left: 0;
}
.container_2:hover #ovrly3 {
  width: 100%;
  left: 0;
}
.container_3:hover #ovrly3 {
  width: 100%;
  left: 0;
}
.container_4:hover #ovrly3 {
  width: 100%;
  left: 0;
}
#ovrly4 {
  position: inherit;
  bottom: 0;
  right: 0;
  left:100%;
  border-radius:110%;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  display:none;
}

.container_1:hover #ovrly4 {
  width: 100%;
  left: 0;
}
.container_2:hover #ovrly4 {
  width: 100%;
  left: 0;
}
.container_3:hover #ovrly4 {
  width: 100%;
  left: 0;
}
.container_4:hover #ovrly4 {
  width: 100%;
  left: 0;
}
.o_text {
  background:cornsilk;
  white-space: nowrap; 
  color: black;
  font-size: 20px;
  font-weight:bold;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
#o_txt_1{
	padding: 5px 32px 5px 32px;
}
#o_txt_2{
	padding: 5px 65px 5px 65px;
}
#o_txt_3{
	padding: 5px 65px 5px 65px;
}
#o_txt_4{
	padding: 5px 67px 5px 67px;
}
.lgot{
	margin-top: -1.5% !important;
	margin-left:8% !important;
	border: 3px solid darkblue !important;
	box-shadow: 2px 2px grey !important;
	color: darkorange !important;
	box-sizing: border-box !important;
	display: inline-table !important;
	border-radius: 50% !important;
	font-size: 35px !important;
}