#content_sale {
  max-width: 95%;
  height: 55vh;
  padding-bottom:6% !important;
  overflow:auto;
  margin-top:0% !important;
  margin-bottom:3% !important;
  margin: 0 auto;
  background: white;
-webkit-box-shadow: 2px 8px 25px 2px rgba(0,0,0,0.3);
   	   -moz-box-shadow: 2px 8px 25px 2px rgba(0,0,0,0.3);
   	        box-shadow: 2px 8px 25px 2px rgba(0,0,0,0.3);
  -webkit-border-bottom-right-radius: 8px;
-webkit-border-bottom-left-radius: 8px;
-moz-border-radius-bottomright: 8px;
-moz-border-radius-bottomleft: 8px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px;
}
.box_sale {
  width: 265px;
  height: 280px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, .2);
  background: lighten(#f0f4c3, 10%);
  position: relative;
  overflow: hidden;
  margin-left:40%;
  margin-top:3%;
  margin-bottom: -9%;
  transform: translate3d(0, 0, 0);
}

.wave_sale {
  opacity: .7;
  position: absolute;
  top: 0%;
  left: 50%;
  background: linear-gradient(to top,rgb(163, 144, 0),rgb(242, 214, 4));
  width: 450px;
  height: 330px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 7000ms infinite linear;
}

.wave_sale.-three_sale {
  animation: drift 9000ms infinite linear;
}

.wave_sale.-two_sale {
  animation: drift 9000ms infinite linear;
  opacity: .1;
  background: #f45308;
}

.box_sale:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.title_sale{
  position: relative;
  left: 0;
  top: -93px;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  letter-spacing: .4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}
////
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.sale_nav{
	 background: linear-gradient(to top,rgb(163, 144, 0),rgb(242, 214, 4));
}
.currentLink{
	color: black !important;
	background:linear-gradient(to bottom,rgb(255, 229, 40),rgb(216, 202, 2)) !important;
	display: -webkit-box;
    box-shadow: 0px 5px 2px 5px black;
}