@media (min-width:360px) and (max-width:480px)
{
	#content_stock{
	min-height: 77vh !important;
	max-width: 100% !important;
	margin-top: 2% !important;
	}
	.s_dn_mrgn{
	margin-left: 86% !important;
	padding: 2px 3px !important;
	font-size: 12px !important;
	}
	.fc1{
	width: 527% !important;
	font-size: 13px !important;
	padding: 3px 3px !important;
	height: 25px !important;
	margin-left: 1% !important;
	}
	.fc2{
	margin-left : 4% !important;
	width: 250% !important;
	font-size: 13px !important;
	height:25px !important;
	}
	.fc3{
	margin-left: 4% !important;
    width: 250% !important;
    font-size: 13px !important;
    height: 25px !important;
	}
	.sc_clr{
	padding: 4px 3px !important;
	font-size: 9px !important;
	}
	.stk_clr{
	margin-right: 0px !important;
	margin-left: 1px !important;
	padding: 4px 3px !important;
	font-size: 9px !important;
	}
	.cubes{
	margin-right: 3px !important;
	width: 150%;
	}
	.flippetys{
	height: 40px;
	}
	.lgots{
	padding-top: 3px !important;
	}
}
.btn:active{
	box-shadow: none !important;
	webkit-box-shadow: none !important;
}
#content_stock {
  max-width: 100%;
  height: 55vh;
  padding-bottom:6% !important;
  overflow:auto;
  margin-top:0% !important;
  margin-bottom:2% !important;
  margin: 0 auto;
  background: white;

}
.sc_clr{
	background-color: rgb(23, 211, 2) !important;
	padding:4px 10px ;
	border-color:rgb(23, 211, 2) !important;
}

#field_stock{
	max-width: 100%;
    width: 100%;
    display: flex;
    padding-left: 0%;
    padding-top:1%;
    padding-bottom:1%;
    padding-right:1%;
}
.fc1{
	margin-left:5% ;
	max-width:100% ;
	color:black !important;
	font-size:15px ;
	height:30px ;
}
.fc2{
	margin-left:8% ;
	max-width:100% ;
	color:black !important;
	font-size:15px ;
	height:30px ;
}
.fc3{
	margin-left:7% ;
	max-width:80% ;
	color:black !important;
	font-size:15px ;
	height:30px ;
}

.stk_clr{
    padding:4px 10px ;
	background: red !important;
    border-color: red !important;
    margin-left:6px;
    margin-right: -12px;
}
.s_dn_mrgn{
	margin-left:91% ;
	margin-bottom: 2% !important;
}
@media (min-width:320px) and (max-width:359px)
{
	#content_stock{
	min-height: 77vh !important;
	max-width: 100% !important;
	margin-top: 2% !important;
	}
	.s_dn_mrgn{
	margin-left: 86% !important;
	padding: 2px 3px !important;
	font-size: 12px !important;
	}
	.fc1{
	min-width: 30% !important;
	font-size: 11px !important;
	padding: 3px 3px !important;
	height: 25px !important;
	margin-left: 3% !important;
	}
	.fc2{
	margin-left : 2% !important;
	max-width: 100% !important;
	font-size: 11px !important;
	height:25px !important;
	}
	.fc3{
	margin-left: 1% !important;
    max-width: 242% !important;
    font-size: 11px !important;
    height: 25px !important;
	}
	.sc_clr{
	padding: 4px 3px !important;
	font-size: 10px !important;
	}
	.stk_clr{
	margin-right: -6px !important;
	margin-left: 1px !important;
	padding: 4px 3px !important;
	font-size: 10px !important;
	}
	.cubes{
	margin-right: -3px !important;
	width: 206%;
	margin-bottom: -2px !important;
	}
	.flippetys{
	height: 33px;
	}
	.lgots{
	padding-top: 3px !important;
	font-size: 25px !important;
	}
}