<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body ng-controller="RMCrtl as $crtl">
<div class="container-fluid">
<div class="row row_algn">
<div class="col-lg-12 col-md-12 col-sm-12">

<div class='box_bill'>
  <div class='wave_bill -one_bill'></div>
  <div class='wave_bill -two_bill'></div>
  <div class='wave_bill -three_bill'></div>
  <div class='title_bill' ng-click="addb()">Bill</div>
</div>
<label class="cont" id="c1">Customer
  <input type="radio" checked="checked" name="radio">
  <span class="checkmark"></span>
</label>
<label class="cont" id="c2">Dealer
  <input type="radio" name="radio">
  <span class="checkmark"></span>
</label>
<div id="content">
<article>
  <nav class="btn-bar nav-dark b_nav" id="b_tab">
    <a class="btn btn-glass">
      Category
    </a>
    <a class="btn btn-glass">
    Code
    </a>
    <a class="btn btn-glass">
      Quantity
    </a>
    <a class="btn btn-glass">
      Price
    </a>
  </nav>
</article>

<div ng-show="one">
    <div ng-repeat='item in bitems' class="form-group div_colr" id="field_bill">
          <select ng-model='$crtl.selected_item' class="form-control frst fbill_ctrl" name="item_name">
          <option value="" selected>Select Your Product</option>
          <option value="Register" selected>Registers</option>
          <option value="Cover Page">Cover Page</option>
          </select>&nbsp
          <input type="text" ng-model='$crtl.code' class="form-control fbill_ctrl " placeholder="Code"></input>&nbsp
          <input type="number" ng-model='$crtl.quantity'  ng-change="calcPrice($crtl.code)" class="form-control fbill_ctrl" placeholder="Quantity"></input>&nbsp
          <!--<input type="number" ng-model='$crtl.price' class="form-control" placeholder="Price"></input>&nbsp-->
          <i class="fa f_i fa-inr"></i><input type="number" ng-model='$crtl.price'  class="form-control fbill_ctrl" id="prc"></input>&nbsp
       <button  class="btn btn-success c_clr" ng-click='addb($index)'><i class="fa fa-check"></i></button> 
      <button class="btn btn-primary b_clr" ng-click='bdel($index)'><i class="fa fa-close"></i></button>&nbsp       
	</div>
</div>

</div>

<button class="btn btn-info gen_butn" ng-click='invoice()' data-toggle="modal" data-target="#bill_modal">Generate Bill</button>
<!--<div class="alert alert-success" role="success" ng-show="succ" style="margin-top:10px;">{{success}}</div>
<div class="alert alert-danger" role="alert" ng-show="err" style="margin-top:10px;">{{error}}</div>-->

<!-- Modal -->
  <div class="modal fade" id="bill_modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content" id="pdf_content">
        
          <button type="button" class="close cros" data-dismiss="modal" data-html2canvas-ignore>&times;</button>
          <button class="btn btn-info" id="pd" ng-click="exportAsPdf()" data-html2canvas-ignore > Generate Pdf</button>
          <hr/>
          <p class="hd">ANSH RETAILS PVT. LTD.</p>
          <img id="logo_img" src="/assets/images/logo.jpeg"/>
          <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 r_a">
          <h2 id="h2_head">INVOICE</h2><br/>
          <p id="p_clr">9910065715<br/>
          7011125845<br/>
          85888954331<br/><br/>
          anshretails@yahoo.in</p>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 l_a">
         <span style="font-weight:bold;"> Customer Name: </span><address contenteditable>Jonathan Neal</address><br/>
		  <span style="font-weight:bold;">Company Name: </span><address contenteditable>Nil</address><br/><br/>
		  <span style="font-weight:bold;">PostCode: </span><address contenteditable>Nil</address><br/>
		  <span style="font-weight:bold;">Date: </span><span>{{date}}</span><br/><br/>
		  <span>Invoice Number: </span><span>{{inNo}}</span></p><br/>
		  <span>Thank you for your business.<br/>
		  Yours sincerely,<br/>
		  Ansh Retails Pvt. Ltd.
		  </span>
		  
        <div class="modal-body">
          <table class="table table-bordered">
         <thead>
         <tr>
        <th id="th_clr">Description</th>
        <th id="th_clr">Code</th>
        <th id="th_clr">Quantity</th>
        <th id="th_clr">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="bills in bill">
        <td><span ng-bind="bills.catagory"></span></td>
        <td><span ng-bind="bills.code"></span></td>
        <td><span ng-bind="bills.quantity"></span></td>
        <td><span ng-bind="bills.price"></span></td>
      </tr>
    </tbody>
  </table>
        </div>
     
          		<table class="table">
          		<tr>
					<th><span>Sub Total</span></th>
					<td><span data-prefix>INR<span>{{totalamt}}</span></td>
				</tr>
				<tr>
					<th><span >Shipping charges</span></th>
					<td><span data-prefix>INR<span contenteditable ng-model='$crtl.ship_chrg'></span></td>
				</tr>
				<tr>
					<th><span>Tax</span></th>
					<td>INR<span contenteditable  ng-model='$crtl.tax'></span></td>
				</tr>
				<tr>
					<th><span>Other Charge(s), If any.</span></th>
					<td>INR<span contenteditable ng-model='$crtl.o_chrg'></span></td>
				</tr>
				<tr>
					<th><span>Total</span></th>
					<td>INR<span>{{finlamt}}</span></td>
				</tr>
			</table>
			</div>
			</div>
			<div id="lines">	
			<hr id="h_a"/>
				<hr id="h_s"/>				
		</div>
		<div id="wrds">	
			<span id="sign">Authorised Sign</span>
				<span id="stamp">Authorised Stamp</span>				
		</div>
		<hr span id="h_l"></span>
        </div>
        </div>
        </div>
        </div>
       
      </div>
      
    </div>
  </div>
</body>
</html>