<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body ng-controller="RMCrtl as $crtl">
<div class="container-fluid">
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12">
<button id="buton" class="btn btn-success" ng-click='sadd()'>Add Items<i class="fa fa-plus-circle"></i></button>

<div class="effect4" id="content">
<ul class="ul_algn">
<li id="li_algn"><a id="a_algn" href="#">Category</a></li>
<li id="li_algn"><a id="a_algn" href="#">Code</a></li>
<li id="li_algn"><a id="a_algn" href="#">Quantity</a></li>

</ul>
<div ng-show="one">
    <div ng-repeat='item in bitems' class="form-group" id="field">
          <select ng-model='$crtl.selected_item' class="form-control" name="item_name">
          <option value="" selected>Select Your Product</option>
          <option value="register" selected>Registers</option>
          <option value="cover_pg">Cover Page</option>
          </select>&nbsp
          <input type="text" ng-model='$crtl.code' class="form-control" placeholder="Code"></input>&nbsp
          <input type="number" ng-model='$crtl.quantity'  ng-change="calcPrice($crtl.code)" class="form-control" placeholder="Quantity"></input>&nbsp
         
       <button  class="btn btn-success" ng-click='sadd($index)'><i class="fa fa-check"></i></button> 
      <button class="btn btn-primary" ng-click='sdel($index)'><i class="fa fa-close"></i></button>&nbsp       
	</div>
</div>
</div>
 
</div>
</div>
</div>
</div>
</body>
</html>